apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
  namespace: ecommerce-prod
  labels:
    app: backend
    slot: green
    version: v2.0
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      slot: green
  template:
    metadata:
      labels:
        app: backend
        slot: green
        version: v2.0
    spec:
      containers:
      - name: backend
        image: sandesh030/ecommerce-backend:v1.2
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secrets
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 70
          periodSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 10
          failureThreshold: 6