apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: ecommerce-prod
spec:
  selector:
    app: backend
    slot: blue        # <-- change to 'green' to switch traffic
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
  type: ClusterIP