apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-blue
  namespace: ecommerce-prod
  labels:
    app: frontend
    slot: blue
    version: v1.0
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
      slot: blue
  template:
    metadata:
      labels:
        app: frontend
        slot: blue
        version: v1.0
    spec:
      containers:
      - name: frontend
        image: sandesh030/ecommerce-frontend:v1.1
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:         
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3