apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-green
  namespace: ecommerce-prod
  labels:
    app: frontend
    slot: green
    version: v2.0                # will change when deploying new version
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
      slot: green
  template:
    metadata:
      labels:
        app: frontend
        slot: green
        version: v2.0
    spec:
      containers:
      - name: frontend
        image: sandesh030/ecommerce-frontend:v1.1   # new version placeholder
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10