apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ecommerce-prod
spec:
  selector:
    app: frontend
    slot: blue                # change to 'green' to switch traffic
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP